ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
    font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 400px;
  }

h1 {
font-size: 34px;
font-weight: 700;
line-height: 1.11
letter-spacing: 0.02em;
/*text-align: center;*/
}


h2 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
 /* transform: skewX(-10deg);*/
}
h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

 .my-link {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.my-link:hover,
.my-link:focus {
    color: #404bbf;
}

h4 {
font-size: 12px;
font-weight: 400;
line-height: 1.1;
letter-spacing: 0.02em;
transform: skewX(-20deg);
}

.item-span {
font-size: 12px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
color: #404bbf;
}

.description {
    font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
 }

.body-container {
    max-width: 320px;
   background-color: aliceblue;
   box-shadow: 3px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/********* MAIN-CONTAINER *********/
.main-container {
   display: flex;
  flex-direction: column;
  gap: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
   border: 2px solid red;
}

/************* MY INFORM *********/
.my-inform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  }

.my-inform-photo {
  margin: 0 auto;
}

/********MY CONTACTS *******/
.my-contacts {
  
}
.my-contacts-subtitle {
  margin-bottom: 10px;
}
.my-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.my-contacts-icon {
  fill: #434455;
  margin-right: 8px;
}

/***********   My PROJECTS *******/
.projects-container {
   }
 .projects-subtitle {
  margin-bottom: 10px;
 }  
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  }

/**************  Work Experience ***********/

.experience-container {
  }

.experience-subtitle {
  margin-bottom: 10px;
}

.companies-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.company-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.experience-company,
.education-place {
  font-weight: 700;
  color: #404bbf;
}
.experience-period {
  }
.experience-duties-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.experience-duties-item {
}
.experience-icon {
  fill:  #434455;
  margin-right: 8px;
}

/**************  EDUCATION ***********/
.education-container {
 
}
.education-subtitle {
  margin-bottom: 10px;
}

.education-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.education-institution {
   display: flex;
  flex-direction: column;
  gap: 6px;
}
.education-place {
}
.education-department {
}


/************** SIDE-BAR *************/
.side-bar-container {
  border: 2px solid blue;
  padding-top: 6px;
  padding-bottom: 16px;
}
.side-photo {
  display: none;
}

.side-my-contacts {
  display: none;
}

/**************  Skills ***********/

.skills-container {
    
}

.skills-title {
  margin-bottom: 10px;
}
.skills-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tech-skills {
  
}
.skills-subtitle {
  margin-bottom: 6px;
}
.skills-list {
    display: flex;
  flex-direction: column;
  gap: 6px;
}
.skills-item {
    font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
/******** FOOTER ******/
.footer-container {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #45459d;
  }


/**********************************************************/
/*********** Media 768 **********/
@media screen and (min-width: 768px) {
  .body-container {
    max-width: 768px;
    display: flex;
    flex-direction: row-reverse;
  }

.main-container {
  max-width: 500px;
  padding: 32px;
  
}
.my-inform-name {
  text-align: left;
}
.my-inform-photo {
  display: none;
}
.my-contacts {
  display: none;
}


.side-bar-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
  color: #ffffff;
  background-color: #45459d;
  padding: 32px 16px 16px 16px;
   
}
.side-photo {
  display: block;
   margin: 0 auto;
}

.side-my-contacts {
  display: block;
}
.my-contacts-link {
  color: #ffffff;
}
.my-contacts-link:hover,
.my-contacts-link:focus {
    color: yellowgreen;
}

.my-contacts-icon,
.experience-icon {
  fill: #ffffff;
}


.skills-wrap {
  gap: 12px;
}

  }

